# env
venv/
__pycache__/

# test
_test.py
_test*.py
_test.ipynb
_test*.ipynb

# file
Note.md
config.json

# data
tmp/
Experiment/
experiments/
data/

litbank/
LitBank/
LitBank_Case/
NewLitBank_v2

litbank_augment.jsonlines
litbank_final.jsonlines